.inputDiv{
    margin-top:2%;
}
input{
    display:block;
    width:100%;
    border: 1px solid #2f1b15;
}
input[type=range] {
    -webkit-appearance: none;
  }
input[type=range]::-webkit-slider-thumb {
    -webkit-appearance: none;
  }

  input[type=range]:focus {
    outline: none; 
  }
  input[type=range]::-webkit-slider-thumb {
    -webkit-appearance: none;
    height: 100%;
    width: 50%;
    border: 1vw solid #2f1b15;
    cursor: pointer;
    margin-top: -4%;
  }
  input[type=range]::-webkit-slider-thumb {
    -webkit-appearance: none;
    border-left-color:    #2f1b15;
    border-right-color:   #2f1b15;
    border-top-color:     #2f1b15;
    border-bottom-color:  #2f1b15;
  }
  input[type=range]::-webkit-slider-thumb {
    -webkit-appearance: none;
    border-left-color: transparent;
    border-right-color: transparent;
    border-top-color: #2f1b15;
    border-bottom-color: transparent;
  }
  input[type=range]::-webkit-slider-thumb {
    -webkit-appearance: none;
    width: 0%;
    height: 0%;
  }
input[type=range]::-webkit-slider-runnable-track {
    width: 100%;
    height: 1px;
    cursor: pointer;
    background: #2f1b15;
    border-radius: 6px;
    box-shadow: inset 0px 1px 30px rgba(0,0,0,0.9);
  }
  .test1{
      display: block;
      position: static;
      width:100%;
      height: 1.5vw;
      margin-top:-1.2vw;
      margin-left:1pt;
      border-left:2px solid #2f1b15;
      border-right: 2px solid #2f1b15;
      white-space:nowrap;


  }
  .test2{
    display: block;
    position: static;
    margin-left: 33.5%;
    width:32.5%;
    height:1vw;
    border-left: 2px solid black;
    border-right: 2px solid black;
    white-space:nowrap;
  }